body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: tan;
}

ul{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: white;
    border-style: solid;
    border-color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    
}

button:hover {
    background-color: gray;
    transition: 0.7s
}

p{
    background-color: beige;
}

ul{
    background-color: beige;
    padding: 36px;
}

ol{
    background-color: beige;
    padding: 36px;
}

li{
    align-items: center;
    padding: 12px;
}

h3{
    margin-top: 24px;
}

.recipe-link {
    margin-left: 40px;
}